# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\szjoc\Desktop\MI18\06-Hatodik szemeszter\Szoftverfejlesztés mérnököknek\SFM_PROJEKT\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
